@{
    ViewBag.Title = "Accueil";
    Layout = "~/Views/Shared/_LayoutGsb.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Gestion des invitations des praticiens à une activité</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <div>
