<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - GSB </title>
    <!-- Liens vers les fichiers CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">GSB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/Praticien/listePraticien">Liste</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Praticien/RechercherPraticien">Recherche</a>
                </li>
         
                <li class="nav-item">
                    <a class="nav-link" href="/Praticien/AjouterInvitation">Ajouter</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Praticien/Modifier">Modifier</a>
                </li>
            </ul>


        </div>
    </nav>
</body>
</html>
