@model gsb.Models.Metier.Activite

@{
    ViewBag.Title = "Ajouter une invitation";
    Layout = "~/Views/Shared/_layoutGsb.cshtml";
}

<h1>@ViewBag.Title</h1>

@if (Model != null)
{
    @using (Html.BeginForm("AjouterInvitation", "Praticien", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="card col-8 mx-auto mt-5">
            <div class="card-body">
                <h3 class="card-title">Ajouter une invitation</h3>
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                   

                    <div class="form-group">
                        <label for="date_activite">Date de l'activité :</label>
                        <input type="date" class="form-control" id="date_activite" name="date_activite" />
                    </div>

                    <div class="form-group">
                        <label for="lieu_activite">Lieu de l'activité :</label>
                        <input type="text" class="form-control" id="lieu_activite" name="lieu_activite" />
                    </div>

                    <div class="form-group">
                        <label for="theme_activite">Thème de l'activité :</label>
                        <input type="text" class="form-control" id="theme_activite" name="theme_activite" />
                    </div>

                    <div class="form-group">
                        <label for="motif_activite">Motif de l'activité :</label>
                        <input type="text" class="form-control" id="motif_activite" name="motif_activite" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Enregistrer" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    }
}
